<div class="sign-up-section">
  <div class="welcome-container">
    <div>
      <img
        class="welcome-container__logo"
        src="assets/img/logo-2.png"
        alt="logo"
      />
    </div>
    <div>
      <span class="welcome-container__text">REGISTRATE</span>
    </div>
  </div>

  <div>
    <form
      [formGroup]="signupForm"
      (ngSubmit)="signUp(signupForm.value)"
      class="container mt-4"
    >
      <div class="form-group">
        <label for="name">Nombre</label>
        <input
          [ngClass]="{
            'input-error':
              signupForm.controls['name'].invalid &&
              signupForm.controls['name'].touched
          }"
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
        />
        <div
          *ngIf="
            signupForm.get('name')?.hasError('required') &&
            signupForm.get('name')?.touched
          "
          class="alert-text"
        >
          El nombre es requerido
        </div>
      </div>

      <div class="form-group">
        <label for="company">Compañía</label>
        <input
          type="text"
          [ngClass]="{
            'input-error':
              signupForm.controls['company'].invalid &&
              signupForm.controls['company'].touched
          }"
          id="company"
          formControlName="company"
          class="form-control"
        />
        <div
          *ngIf="
            signupForm.get('company')?.hasError('required') &&
            signupForm.get('company')?.touched
          "
          class="alert-text"
        >
          La compañia es requerida
        </div>
      </div>

      <div class="role-container">
        <span class="role-container__label">Rol</span>
        <div class="role-container__options">
          <div
            class="role-container__option"
            (click)="toggleRoleOption('constructor')"
            [ngClass]="{
              'role-container__option--active': role === 'constructor'
            }"
          >
            <img
              class="role-container__img"
              src="assets/icons/constructor-icon.svg"
              alt="constructor-logo"
            />
            <span class="role-container__text">Constructor</span>
          </div>
          <div
            class="role-container__option"
            (click)="toggleRoleOption('proveedor')"
            [ngClass]="{
              'role-container__option--active': role === 'proveedor'
            }"
          >
            <img
              class="role-container__img"
              src="assets/icons/supplier-icon.svg"
              alt="supplier-logo"
            />
            <span class="role-container__text">Proveedor</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input
          type="email"
          [ngClass]="{
            'input-error':
              signupForm.controls['email'].invalid &&
              signupForm.controls['email'].touched
          }"
          id="email"
          formControlName="email"
          class="form-control"
        />
        <div
          *ngIf="
            signupForm.get('email')?.hasError('required') &&
            signupForm.get('email')?.touched
          "
          class="alert-text"
        >
          El correo es requerido
        </div>
        <div
          *ngIf="signupForm.get('email')?.hasError('invalidEmail')"
          class="alert-text"
        >
          No es un correo válido
        </div>
      </div>

      <div class="form-group form-group__password">
        <label for="password">Contraseña</label>
        <input
          type="{{ showPassword ? 'text' : 'password' }}"
          [ngClass]="{
            'input-error':
              signupForm.controls['password'].invalid &&
              signupForm.controls['password'].touched
          }"
          id="password"
          formControlName="password"
          class="form-control"
        />
        <img
          src="assets/icons/eye-icon.svg"
          alt="Show/Hide password"
          class="toggle-password"
          (click)="togglePasswordVisibility()"
        />
        <div
          *ngIf="
            signupForm.get('password')?.hasError('required') &&
            signupForm.get('password')?.touched
          "
          class="alert-text"
        >
          La contraseña es requerida
        </div>
        <div
          *ngIf="signupForm.get('password')?.hasError('noNumber')"
          class="alert-text"
        >
          La contraseña debe tener por lo menos un número
        </div>
        <div
          *ngIf="signupForm.get('password')?.hasError('noLower')"
          class="alert-text"
        >
          La contraseña debe tener por lo menos una minúscula
        </div>
        <div
          *ngIf="signupForm.get('password')?.hasError('noUpper')"
          class="alert-text"
        >
          La contraseña debe tener por lo menos una mayúscula
        </div>
        <div
          *ngIf="signupForm.get('password')?.hasError('noSpecial')"
          class="alert-text"
        >
          La contraseña debe tener por lo menos un caracter no alfanumérico
        </div>
        <div
          *ngIf="signupForm.get('password')?.hasError('minlength')"
          class="alert-text"
        >
          La contraseña debe tener por lo menos 8 caracteres
        </div>
      </div>

      <div class="form-group form-group__confirmPassword">
        <label for="passwordConfirm">Confirma la contraseña</label>
        <input
          type="{{ showConfirmPassword ? 'text' : 'password' }}"
          id="passwordConfirm"
          formControlName="passwordConfirm"
          [ngClass]="{
            'input-error':
              (signupForm.controls['passwordConfirm'].invalid &&
                signupForm.controls['passwordConfirm'].touched) ||
              (signupForm.invalid &&
                signupForm.controls['passwordConfirm'].touched)
          }"
          class="form-control"
        />
        <img
          src="assets/icons/eye-icon.svg"
          alt="Show/Hide password"
          class="toggle-password"
          (click)="togglePasswordConfirmVisibility()"
        />
        <div
          *ngIf="
            signupForm.get('passwordConfirm')?.hasError('required') &&
            signupForm.get('passwordConfirm')?.touched
          "
          class="alert-text"
        >
          La confirmación de la contraseña es requerida
        </div>
        <div
          class="alert-text"
          *ngIf="
            signupForm.hasError('noMatch') &&
            signupForm.get('passwordConfirm')?.touched
          "
        >
          Las contraseñas no coinciden
        </div>
      </div>

      <button type="submit" [disabled]="!signupForm.valid" class="cta-btn">
        <span> Crea tu cuenta </span>
        <img src="assets/icons/go-icon.svg" />
      </button>
    </form>
  </div>
</div>
