.section-container {
  padding: 33px 150px;
}

.header-container__back-option {
  gap: 4px;
  display: flex;
  align-items: center;
  margin-bottom: -16px;
}

.back-icon {
  width: 12px;
  cursor: pointer;
  cursor: pointer;
}

.header-container {
  display: flex;
  padding: 28px;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  border-radius: 12px;
  background: #fff5d4;
}

.header-container__heading {
  color: #0f2a71;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header-container__back {
  color: #0f2a71;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header-container__text {
  color: #001740;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-container {
  margin-top: 45px;
}

form {
  gap: 8px;
}

.project-info {
  display: flex;
  padding: 28px;
  gap: 64px;
  border-radius: 12px;
  background: #fff5d4;
  align-items: center;
  justify-content: space-between;
}

.project-info__inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-info__inputs-dates {
  display: flex;
  gap: 20px;
}

label {
  font-weight: 500;
  font-size: 14px;
  color: #001740;
}

input {
  border: 1px solid #b8b8b8;
  background: #f6f6f6;
  padding: 10px 12px;
  font-size: 12px;
  color: #858585;
}

.input-error {
  color: #ff4a4a !important;
  border: 1px solid #ff4a4a !important;
}

input:focus {
  box-shadow: none;
  color: #858585;
}

.form-control:disabled {
  background-color: #e9ecef;
}

.alert-text {
  color: #001740;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.project-info__uploads {
  display: flex;
  gap: 24px;
  align-items: center;
}

.project-info__upload {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.project-info__upload-icon {
  cursor: pointer;
}

.upload-btn {
  cursor: pointer;
  display: flex;
  width: 100px;
  height: 90px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #ffdb60;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.upload-btn--uploaded {
  background: #001740;
  box-shadow: none;
}

.upload-btn span {
  color: #001740;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.upload-btn--uploaded span {
  color: #fffdf0;
}
.items-info {
  margin-top: 45px;
}

.items-info__heading {
  color: #0f2a71;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

hr {
  color: #0f2a71;
}

.items-info__labels,
.items-info__controls {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr 2fr 2fr 0.5fr;
  column-gap: 10px;
}

.items-info__labels {
  margin-bottom: 5px;
}

.items-info__controls {
  margin-bottom: 20px;
}

.remove-item {
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.form-control--readonly {
  border: 1px solid #b8b8b8;
  background: #f6f6f6;
  padding: 10px 12px;
  font-size: 12px;
  color: #858585;
}

.add-item-option {
  display: flex;
  gap: 4px;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
}

.add-item-option span {
  color: var(--001740, #001740);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cta-btn {
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: #f4c400;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.cta-btn span {
  color: #0f2a71;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cta-btn:not(.cta-btn--inactive):hover {
  background: #ffdb60;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
}

.cta-btn--inactive {
  border-radius: 4px;
  border: 1px solid #0f2a71;
  background: #fffdf0;
  cursor: default;
}

.cta-btn--inactive span {
  color: #0f2a71;
}

.total {
  margin-top: 15px;
  font-weight: 500;
  font-size: 14px;
  color: #001740;
}
