<div class="section-container">
  <div class="header-container">
    <div class="header-container__back-option">
      <img routerLink="/" class="back-icon" src="assets/icons/back-icon.svg" />
      <span class="header-container__back">Atras</span>
    </div>
    <span class="header-container__heading">Agrega un proyecto</span>

    <span class="header-container__text"
      >Los proveedores podrán cotizar los proyectos que agregues</span
    >
  </div>

  <div class="form-container">
    <form [formGroup]="projectForm" (ngSubmit)="createProject()">
      <div class="project-info">
        <div class="project-info__inputs">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input
              [ngClass]="{
                'input-error':
                  projectForm.controls['name'].invalid &&
                  projectForm.controls['name'].touched
              }"
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
            />
            <div
              *ngIf="
                projectForm.get('name')?.hasError('required') &&
                projectForm.get('name')?.touched
              "
              class="alert-text mt-2"
            >
              El nombre es requerido
            </div>
          </div>

          <div class="project-info__inputs-dates">
            <div class="form-group">
              <label for="startDate">Fecha inicio</label>
              <input
                [ngClass]="{
                  'input-error':
                    projectForm.controls['startDate'].invalid &&
                    projectForm.controls['startDate'].touched
                }"
                type="date"
                id="startDate"
                formControlName="startDate"
                class="form-control"
              />
            </div>

            <div class="form-group">
              <label for="endDate">Fecha fin</label>
              <input
                [ngClass]="{
                  'input-error':
                    (projectForm.controls['endDate'].invalid &&
                      projectForm.controls['endDate'].touched) ||
                    (projectForm.hasError('dateRangeInvalid') &&
                      projectForm.get('endDate')?.touched)
                }"
                type="date"
                id="endDate"
                formControlName="endDate"
                class="form-control"
              />
            </div>
          </div>
          <div class="project-info__inputs-errors">
            <div
              *ngIf="
                projectForm.get('startDate')?.hasError('required') &&
                projectForm.get('startDate')?.touched
              "
              class="alert-text"
            >
              La fecha de inicio es requerida
            </div>
            <div
              *ngIf="projectForm.get('startDate')?.hasError('invalidDate')"
              class="alert-text"
            >
              No es una fecha válida
            </div>
            <div
              *ngIf="
                projectForm.get('endDate')?.hasError('required') &&
                projectForm.get('endDate')?.touched
              "
              class="alert-text"
            >
              La fecha fin es requerida
            </div>
            <div
              *ngIf="projectForm.get('startDate')?.hasError('invalidDate')"
              class="alert-text"
            >
              No es una fecha válida
            </div>
            <div
              class="alert-text"
              *ngIf="
                projectForm.hasError('dateRangeInvalid') &&
                projectForm.get('endDate')?.touched
              "
            >
              La fecha fin debe ser mayor a la fecha de inicio
            </div>
          </div>
        </div>

        <div class="d-flex gap-3 flex-column align-items-center">
          <label>Carga al menos una imagen</label>
          <div class="project-info__uploads">
            <div *ngFor="let image of [0, 1, 2]; let i = index">
              <div class="project-info__upload">
                <div *ngIf="!!images[i]">
                  <img src="assets/icons/success-icon.svg" />
                </div>
                <div>
                  <input
                    type="file"
                    accept="image/*"
                    id="fileInput{{ i }}"
                    (change)="onFileSelected($event, i)"
                    #fileInputRef
                    [hidden]="true"
                  />
                  <label
                    for="fileInput{{ i }}"
                    class="upload-btn"
                    [ngClass]="{ 'upload-btn--uploaded': !!images[i] }"
                  >
                    <img
                      [src]="
                        !!images[i]
                          ? 'assets/icons/add-file-white-icon.svg'
                          : 'assets/icons/add-file-icon.svg'
                      "
                    />
                    <span>
                      {{ !!images[i] ? "Cambiar " : "Subir " }}imágen
                    </span>
                  </label>
                </div>
                <div *ngIf="images[i]" class="project-info__upload-icon">
                  <img
                    src="assets/icons/delete-icon.svg"
                    (click)="removeImageAtIndex(i)"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="items-info">
        <span class="items-info__heading">Items</span>
        <hr />

        <div *ngIf="canDisplayLabels" class="items-info__labels">
          <div>
            <label>Descripción</label>
          </div>
          <div>
            <label>Cantidad</label>
          </div>
          <div>
            <label>Unidad</label>
          </div>
          <div>
            <label>Valor</label>
          </div>
          <div>
            <label>Subtotal</label>
          </div>
        </div>

        <div formArrayName="items">
          <div
            class="items-info__controls"
            *ngFor="let item of items.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="">
              <input
                [ngClass]="{
                  'input-error':
                    item.get('description')?.invalid &&
                    item.get('description')?.touched
                }"
                formControlName="description"
                type="text"
                class="form-control"
              />
            </div>
            <div class="">
              <input
                [ngClass]="{
                  'input-error':
                    item.get('quantity')?.invalid &&
                    item.get('quantity')?.touched
                }"
                formControlName="quantity"
                type="text"
                class="form-control"
                onlyNumbersAndDecimals
                numberMaskWithDecimals
              />
            </div>
            <div class="">
              <input
                [ngClass]="{
                  'input-error':
                    item.get('quantityUnit')?.invalid &&
                    item.get('quantityUnit')?.touched
                }"
                formControlName="quantityUnit"
                type="text"
                class="form-control"
              />
            </div>
            <div class="">
              <input
                [ngClass]="{
                  'input-error':
                    item.get('price')?.invalid && item.get('price')?.touched
                }"
                formControlName="price"
                type="text"
                class="form-control"
                currencyMaskWithDecimals
                onlyNumbersAndDecimals
              />
            </div>
            <div class="">
              <input
                type="text"
                disabled
                class="form-control form-control--readonly"
                [value]="calculateSubtotal(i)"
              />
            </div>
            <div class="remove-item">
              <img src="assets/icons/close-icon.svg" (click)="deleteItem(i)" />
            </div>
          </div>
          <button type="button" class="add-item-option" (click)="addItem()">
            <img src="assets/icons/add-large-icon.svg" alt="add" />
            <span>Agregar item</span>
          </button>
        </div>
      </div>

      <div class="total" *ngIf="canDisplayLabels">
        <span>Valor total: {{ projectTotal }}</span>
      </div>
      <button
        type="submit"
        [disabled]="!projectForm.valid"
        class="cta-btn"
        [ngClass]="{ 'cta-btn--inactive': !projectForm.valid }"
      >
        <span> Crear proyecto </span>
        <img src="assets/icons/go-icon.svg" />
      </button>
    </form>
  </div>
</div>
