<div class="section-container">
  <div class="header-container">
    <div class="header-container__project-name">
      <div class="header-container__back-option">
        <img
          routerLink="/"
          class="back-icon"
          src="assets/icons/back-icon.svg"
        />
        <span class="header-container__back">Atras</span>
      </div>
      <div class="d-flex flex-column">
        <span class="header-container__heading">{{ project?.name }}</span>
        <span class="header-text">{{ projectConstructor }}</span>
      </div>
    </div>

    <div class="header-container__project-dates">
      <div class="form-group">
        <label>Fecha inicio</label>
        <input
          type="date"
          disabled
          value="{{ customFormatDate(project?.startDate) }}"
          id="startDate"
          class="form-control form-control--readonly"
        />
      </div>
      <div class="form-group">
        <label>Fecha fin</label>
        <input
          type="date"
          disabled
          value="{{ customFormatDate(project?.endDate) }}"
          id="endDate"
          class="form-control form-control--readonly"
        />
      </div>
    </div>
  </div>

  <div class="images-container">
    <div *ngFor="let image of project?.images; let i = index">
      <img
        class="project-image"
        [src]="imageUrl + project.images[i]"
        alt="project-image"
      />
    </div>
  </div>

  <div class="items-info">
    <div class="items-info__heading">
      <span class="items-info__heading-text">Items</span>
      <div class="d-flex gap-2 align-items-center">
        <div
          *ngIf="loadedQuotation && userRole === 'constructor'"
          class="remove-item"
        >
          <img src="assets/icons/close-icon.svg" (click)="unloadQuotation()" />
        </div>
        <div
          *ngIf="userRole === 'constructor'"
          #quotationList
          class="quotation-list"
          [ngClass]="{ opened: quotationListOpened }"
        >
          <button
            class="quotation-list__btn"
            [ngClass]="{
              selected: loadedQuotation,
              inactive: quotations.length === 0
            }"
            (click)="
              !loadedQuotation &&
                quotations.length !== 0 &&
                toggleQuotationListMenu()
            "
          >
            <ng-container *ngIf="quotations.length > 0; else noQuotations">
              <span *ngIf="!loadedQuotation"> Ver Cotizaciones </span>
              <span *ngIf="loadedQuotation">
                {{ loadedQuotation?.supplier?.company | truncatetext : 20 }}
              </span>
            </ng-container>
            <ng-template #noQuotations>
              <span>No hay cotizaciones</span>
            </ng-template>

            <img
              *ngIf="!loadedQuotation"
              class="arrow-down-icon"
              [ngClass]="{ rotated: quotationListOpened }"
              [src]="
                !loadedQuotation && quotations.length !== 0
                  ? 'assets/icons/arrow-down-icon.svg'
                  : 'assets/icons/alert-icon.svg'
              "
            />
          </button>
          <div
            [ngClass]="{ hidden: !quotationListOpened }"
            class="quotation-list-dropdown"
          >
            <div class="quotation-list-dropdown__inner-container">
              <div
                (click)="loadQuotation(i)"
                *ngFor="let quotation of quotations; let i = index"
                class="quotation-item"
              >
                <span>{{
                  quotation?.supplier?.company | truncatetext : 20
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <form [formGroup]="quotationForm" (ngSubmit)="createQuotation()">
      <div
        class="items-info__labels"
        [ngClass]="{
          'grid-7-columns': displayQuotationLayout,
          'grid-5-columns': !displayQuotationLayout
        }"
      >
        <div>
          <label>Descripción</label>
        </div>
        <div>
          <label>Cantidad</label>
        </div>
        <div>
          <label>Unidad</label>
        </div>
        <div>
          <label>Valor</label>
        </div>
        <div>
          <label>Subtotal</label>
        </div>
        <div *ngIf="displayQuotationLayout">
          <label>Cotización</label>
        </div>
        <div *ngIf="displayQuotationLayout">
          <label>C. Subtotal</label>
        </div>
      </div>
      <div formArrayName="items">
        <div
          class="items-info__controls"
          [ngClass]="{
            'grid-7-columns': displayQuotationLayout,
            'grid-5-columns': !displayQuotationLayout
          }"
          *ngFor="let item of project?.items; let i = index"
          [formGroupName]="i"
        >
          <div class="">
            <input
              type="text"
              value="{{ item?.description }}"
              disabled
              id="description"
              class="form-control form-control--readonly"
            />
          </div>
          <div class="">
            <input
              type="text"
              disabled
              value="{{ customFormatNumber(item?.quantity) }}"
              id="quantity"
              class="form-control form-control--readonly"
            />
          </div>
          <div class="">
            <input
              type="text"
              disabled
              value="{{ item?.quantityUnit }}"
              id="quantityUnit"
              class="form-control form-control--readonly"
            />
          </div>
          <div class="">
            <input
              type="text"
              disabled
              value="{{ customFormatCurrency(item?.price, 'en-US', 'USD') }}"
              id="price"
              class="form-control form-control--readonly"
            />
          </div>
          <div class="">
            <input
              type="text"
              disabled
              [value]="calculateSubtotal(item)"
              disabled
              class="form-control form-control--readonly"
              id="subtotal"
            />
          </div>

          <div *ngIf="displayQuotationLayout" class="">
            <input
              type="text"
              formControlName="quotedPrice"
              [ngClass]="{
                'input-error':
                  itemsFormArray.at(i).get('quotedPrice')?.invalid &&
                  itemsFormArray.at(i).get('quotedPrice')?.touched
              }"
              currencyMaskWithDecimals
              onlyNumbersAndDecimals
              class="form-control"
              id="quotedPrice"
            />
          </div>
          <div *ngIf="displayQuotationLayout" class="">
            <input
              type="text"
              [value]="calculateQuotedSubtotal(i)"
              disabled
              class="form-control form-control--readonly"
              id="quotedSubtotal"
            />
          </div>
        </div>
      </div>
      <div class="total">
        <span>Total proyecto: {{ projectTotal }}</span>
        <span *ngIf="loadedQuotation || isQuoteMode"
          >Total cotización: {{ quotationTotal }}</span
        >
      </div>
      <button
        *ngIf="isQuoteMode"
        type="submit"
        [disabled]="!quotationForm.valid"
        class="cta-btn"
        [ngClass]="{ 'cta-btn--inactive': !quotationForm.valid }"
      >
        <span> Cotizar </span>
        <img src="assets/icons/go-icon.svg" />
      </button>
    </form>
  </div>
</div>
