.error-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.error-section__inner-container {
  display: flex;
  padding: 45px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  background: #fffdf0;
  box-shadow: 0px 19px 22px 0px rgba(0, 0, 0, 0.25);
  width: 50%;
}

.error-messages {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.error-code {
  color: #0f2a71;
  text-align: center;
  font-size: 172px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.error-message {
  color: var(--0-f-2-a-71, #0f2a71);
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cta-btn {
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: #f4c400;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.cta-btn span {
  color: #0f2a71;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cta-btn:hover {
  background: #ffdb60;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
}
